body {
	width: 1312px;
	margin: auto;
	font-family: sans-serif;
}
img {
	width: 1312px;
}
a {
	color: #00b2d6;
	text-decoration: none;
}
h2 {
	margin-top: 80px;
}
div {
	
}

.content {
	margin-bottom: 80px;
}

.footer {
	margin-bottom: 80px;
	padding-top: 80px;
	border-top: 1px solid rgba(0,0,0,.1);
}

.footer-link {
	display: block;
	margin-bottom: 8px;
}