body {
	background-color: E9E9E9;
	font-family: sans-serif;
	margin: 0;
}
.wrap {
	width: 800px;
	height: 1000px;
	position: relative;
	margin: auto;
	background: blue;
}
.box {
	width: 400px;
	height: 400px;
	margin: auto;
	background: yellow;
	position: absolute;
	top: 50px;
	left: -200px;
}
.element {
	width: 190px;
	height: 190px;
	margin: auto;
	background: green;
	position: absolute;
	top: 10px;
	left: 10px;
}
.inception {
	width: 100px;
	height: 100px;

	background: red;
	position: relative;
	top: 10px;
	left: 10px;
}